<?xml version="1.0"?>
<!--
  Copyright (c) 2024 Hawksearch (www.hawksearch.com) - All Rights Reserved

  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
  FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS
  IN THE SOFTWARE.
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="HawkSearch\NewsEntityExample\Model\Indexer\News">
        <arguments>
            <argument name="action" xsi:type="object">HawkSearch\NewsEntityExample\Model\Indexer\Entities\ActionEntityNews</argument>
        </arguments>
    </type>
    <virtualType name="HawkSearch\NewsEntityExample\Model\Indexer\Entities\ActionEntityNews"
                 type="HawkSearch\EsIndexing\Model\Indexer\Entities\ActionEntityDefault">
        <arguments>
            <argument name="entityScheduler" xsi:type="object">HawkSearch\NewsEntityExample\Model\Indexer\Entities\Scheduler\News</argument>
        </arguments>
    </virtualType>
    <virtualType name="HawkSearch\NewsEntityExample\Model\Indexer\Entities\Scheduler\News"
                 type="HawkSearch\EsIndexing\Model\Indexer\Entities\SchedulerAbstract">
        <arguments>
            <argument name="entityType" xsi:type="object">HawkSearch\NewsEntityExample\Model\Indexing\EntityType\NewsEntityType</argument>
        </arguments>
    </virtualType>

    <type name="HawkSearch\NewsEntityExample\Model\Indexing\EntityType\NewsEntityType">
        <arguments>
            <argument name="rebuilder" xsi:type="object">HawkSearch\NewsEntityExample\Model\Indexing\Entity\News\EntityRebuild\Proxy</argument>
            <argument name="itemsDataProvider" xsi:type="object">HawkSearch\NewsEntityExample\Model\Indexing\Entity\News\ItemsDataProvider</argument>
            <argument name="attributeHandler" xsi:type="object">HawkSearch\NewsEntityExample\Model\News\Attribute\Handler\Composite</argument>
            <argument name="configHelper" xsi:type="object">HawkSearch\NewsEntityExample\Model\Indexing\Entity\News\ConfigHelper</argument>
            <argument name="itemsIndexer" xsi:type="object">HawkSearch\EsIndexing\Model\Indexing\ItemsIndexer\SearchedItemsIndexer</argument>
            <argument name="typeName" xsi:type="const">HawkSearch\NewsEntityExample\Model\Indexing\EntityType\NewsEntityType::ENTITY_TYPE_NAME</argument>
        </arguments>
    </type>

    <type name="HawkSearch\NewsEntityExample\Model\Indexing\Entity\News\EntityRebuild\Proxy">
        <arguments>
            <argument name="shared" xsi:type="boolean">false</argument>
        </arguments>
    </type>

    <virtualType name="HawkSearch\NewsEntityExample\Model\News\Attribute\Handler\Composite"
                 type="HawkSearch\EsIndexing\Model\Indexing\AttributeHandler\Composite">
        <!--
        Define News entity custom attribute handlers.
        If handler is not defined then attribute raw data will be used for getting values from entity table.
        Attribute handler should implement \HawkSearch\EsIndexing\Model\Indexing\AttributeHandlerInterface
        -->
        <!--
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="url" xsi:type="array">
                    <item name="attribute" xsi:type="string">url</item>
                    <item name="class" xsi:type="string">HawkSearch\NewsEntityExample\Model\News\Attribute\Handler\Url</item>
                </item>
            </argument>
        </arguments>
        -->
    </virtualType>

    <virtualType name="HawkSearch\EsIndexing\Model\Indexer\Entities\Scheduler\All">
        <arguments>
            <argument name="schedulers" xsi:type="array">
                <item name="news" xsi:type="string">HawkSearch\NewsEntityExample\Model\Indexer\Entities\Scheduler\News</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="HawkSearch\EsIndexing\Model\Indexing\EntityTypePool">
        <arguments>
            <argument name="types" xsi:type="array">
                <item name="news" xsi:type="string">HawkSearch\NewsEntityExample\Model\Indexing\EntityType\NewsEntityType</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="HawkSearch\EsIndexing\Model\MessageQueue\MessageTopicByEntityTypeResolver">
        <arguments>
            <argument name="resolvers" xsi:type="array">
                <item name="news" xsi:type="object">HawkSearch\NewsEntityExample\Model\Indexing\EntityType\NewsMessageTopicResolver</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="HawkSearch\NewsEntityExample\Model\Indexing\EntityType\NewsMessageTopicResolver"
                 type="HawkSearch\EsIndexing\Model\MessageQueue\MessageTopicByObjectResolver">
        <arguments>
            <argument name="topic" xsi:type="string">hawksearch.indexing.news.reindex</argument>
            <argument name="resolverClass" xsi:type="string">HawkSearch\NewsEntityExample\Model\Indexing\EntityType\NewsEntityType</argument>
        </arguments>
    </virtualType>
</config>
